$light-gray: #dadddd;
$lighter-gray: #f6f6f7;
$medium-gray: #a2aaad;
$gray: #9f9f9f;
$white: #ffffff;
$black: #000000;
$blue: #1e76bc;
$purple: #8a2062;

html,body{
  font-family: 'Roboto', sans-serif;
}

p{
  font-size: 24px;
}

nav{
  ul{
    li{
      display: inline-block;
      padding: 8px;
      a{
        text-decoration: none;
        color: $gray;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
}

.ss-Container {
  max-width: 994px;
  border: 1px solid $light-gray;
  margin: 48px auto;
  background-color: $white;
  padding: 80px;
    table{
      width: 100%;
      margin-top: 48px;
      tr:nth-child(odd){
        background: $lighter-gray;
      }
      tr{
        margin: 0;
        td{
          border-bottom: 1px solid $light-gray;
          margin: 0;
          padding: 16px;
          font-size: 16px;
        }
        td:first-child{
          max-width: 80px !important;
        }
        td:last-child{
          font-weight: bold;
        }
      }
    }
    .ss-InnerContainer{
      margin: 0 auto;
      padding: 8px;
      max-width: 848px;
      button,
      .ss-Button{
        background: $blue;
        height: 40px;
        line-height: 40px;
        color: $white;
        display: inline-block;
        width:404px;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        margin: 8px;
      }
      .ss-Buttons{
        text-align: center;
        &{
          .ss-Register{
            width: auto !important;
            padding: 0 32px;
            float: right;
            margin-top: 48px;
          }
        }
      }
      .ss-SmallParagraph{
        margin-top: 32px;
        font-size: 16px;
        a{
          color: $blue;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          text-decoration: none;
        }
      }
      .ss-QrCode{
        height: 140px;
        width: 140px;
        background: $light-gray;
        float:right;
        margin-top: 48px;
        :after{
          clear: both;
        }
      }
      .ss-BlockContainer{
        .ss-Block{
          width: 264px;
          height: 220px;
          position: relative;
          display: inline-block;
          border: 1px solid $light-gray;
          margin: 16px 8px 0 0;
          p{
            font-size: 12px;
            color: $medium-gray;
            padding: 0 16px;
          }
          h4{
            padding: 0 16px;
            font-size: 24px;
            font-weight: normal;
            margin: 0;
          }
          h6{
            padding: 0 16px;
            font-weight: normal;
            font-size: 16px;
            margin: 16px 0 0 0;
          }
          a{
            width:88px;
            height:24px;
            border: 1px solid $blue;
            float: right;
            font-size: 12px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            color: $blue;
            margin-left: 8px;
            margin-top: 8px;
          }
          .ss-Active{
            background: $blue;
            color: $white;
            margin-right: 16px;
          }
          .ss-BlockHeader{
            height:59px;
            width: 100%;
            background: $purple;
            color: $white;
            line-height: 59px;
            p{
              color: $white;
              margin: 0;
              font-size: 16px;
            }
          }
          .ss-BlockFooter{
            height: 40px;
            width: 100%;
            position: absolute;
            bottom: 0px;
            width: 264px;
            border-top: 1px solid $light-gray;
            i{
              display: inline-block;
              margin-top: 8px;
              margin-left: 16px;
              font-size: 24px;
            }
          }
        }
      }
    }
}

.ss-Clear{
  clear: both !important;
}

.ss-Label{
  font-size: 12px;
  padding: 32px 8px 8px 8px;
}

.mdc-textfield{
  width: 100%;
  max-width: 840px !important;
  input{
    color: $blue;
    margin: 0 8px;
  }
}

.mdc-textfield__label--float-above{
  color: $black !important;
}

.mdc-textfield--focused.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--multiline):not(.mdc-textfield--box)::after{
  background-color: $black;
}

.mdc-select{
  width: 100% !important;
  margin: 0 8px;
  color: $blue;
  max-width: 808px !important;
}

.mdc-select:focus{
  border-bottom-color: $black;
}

.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__inner-circle{
  background: $black;
}

.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__outer-circle{
  border-color: $black;
}

.mdc-checkbox__native-control:checked ~ .mdc-checkbox__background{
  border-color: $black;
  background: $black;
}


@media screen and (max-width: 767px) {
  .ss-Container{
    padding: 8px;
    margin: 0 auto 16px auto;
  }
  .ss-BlockContainer{
    text-align: center;
  }
}