html, body {
  font-family: 'Roboto', sans-serif; }

p {
  font-size: 24px; }

nav ul li {
  display: inline-block;
  padding: 8px; }
  nav ul li a {
    text-decoration: none;
    color: #9f9f9f;
    text-transform: uppercase;
    font-size: 12px; }

.ss-Container {
  max-width: 994px;
  border: 1px solid #dadddd;
  margin: 48px auto;
  background-color: #ffffff;
  padding: 80px; }
  .ss-Container table {
    width: 100%;
    margin-top: 48px; }
    .ss-Container table tr:nth-child(odd) {
      background: #f6f6f7; }
    .ss-Container table tr {
      margin: 0; }
      .ss-Container table tr td {
        border-bottom: 1px solid #dadddd;
        margin: 0;
        padding: 16px;
        font-size: 16px; }
      .ss-Container table tr td:first-child {
        max-width: 80px !important; }
      .ss-Container table tr td:last-child {
        font-weight: bold; }
  .ss-Container .ss-InnerContainer {
    margin: 0 auto;
    padding: 8px;
    max-width: 848px; }
    .ss-Container .ss-InnerContainer button,
    .ss-Container .ss-InnerContainer .ss-Button {
      background: #1e76bc;
      height: 40px;
      line-height: 40px;
      color: #ffffff;
      display: inline-block;
      width: 404px;
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      margin: 8px; }
    .ss-Container .ss-InnerContainer .ss-Buttons {
      text-align: center; }
      .ss-Container .ss-InnerContainer .ss-Buttons .ss-Register {
        width: auto !important;
        padding: 0 32px;
        float: right;
        margin-top: 48px; }
    .ss-Container .ss-InnerContainer .ss-SmallParagraph {
      margin-top: 32px;
      font-size: 16px; }
      .ss-Container .ss-InnerContainer .ss-SmallParagraph a {
        color: #1e76bc;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        text-decoration: none; }
    .ss-Container .ss-InnerContainer .ss-QrCode {
      height: 140px;
      width: 140px;
      background: #dadddd;
      float: right;
      margin-top: 48px; }
      .ss-Container .ss-InnerContainer .ss-QrCode :after {
        clear: both; }
    .ss-Container .ss-InnerContainer .ss-BlockContainer .ss-Block {
      width: 264px;
      height: 220px;
      position: relative;
      display: inline-block;
      border: 1px solid #dadddd;
      margin: 16px 8px 0 0; }
      .ss-Container .ss-InnerContainer .ss-BlockContainer .ss-Block p {
        font-size: 12px;
        color: #a2aaad;
        padding: 0 16px; }
      .ss-Container .ss-InnerContainer .ss-BlockContainer .ss-Block h4 {
        padding: 0 16px;
        font-size: 24px;
        font-weight: normal;
        margin: 0; }
      .ss-Container .ss-InnerContainer .ss-BlockContainer .ss-Block h6 {
        padding: 0 16px;
        font-weight: normal;
        font-size: 16px;
        margin: 16px 0 0 0; }
      .ss-Container .ss-InnerContainer .ss-BlockContainer .ss-Block a {
        width: 88px;
        height: 24px;
        border: 1px solid #1e76bc;
        float: right;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #1e76bc;
        margin-left: 8px;
        margin-top: 8px; }
      .ss-Container .ss-InnerContainer .ss-BlockContainer .ss-Block .ss-Active {
        background: #1e76bc;
        color: #ffffff;
        margin-right: 16px; }
      .ss-Container .ss-InnerContainer .ss-BlockContainer .ss-Block .ss-BlockHeader {
        height: 59px;
        width: 100%;
        background: #8a2062;
        color: #ffffff;
        line-height: 59px; }
        .ss-Container .ss-InnerContainer .ss-BlockContainer .ss-Block .ss-BlockHeader p {
          color: #ffffff;
          margin: 0;
          font-size: 16px; }
      .ss-Container .ss-InnerContainer .ss-BlockContainer .ss-Block .ss-BlockFooter {
        height: 40px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        width: 264px;
        border-top: 1px solid #dadddd; }
        .ss-Container .ss-InnerContainer .ss-BlockContainer .ss-Block .ss-BlockFooter i {
          display: inline-block;
          margin-top: 8px;
          margin-left: 16px;
          font-size: 24px; }

.ss-Clear {
  clear: both !important; }

.ss-Label {
  font-size: 12px;
  padding: 32px 8px 8px 8px; }

.mdc-textfield {
  width: 100%;
  max-width: 840px !important; }
  .mdc-textfield input {
    color: #1e76bc;
    margin: 0 8px; }

.mdc-textfield__label--float-above {
  color: #000000 !important; }

.mdc-textfield--focused.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--multiline):not(.mdc-textfield--box)::after {
  background-color: #000000; }

.mdc-select {
  width: 100% !important;
  margin: 0 8px;
  color: #1e76bc;
  max-width: 808px !important; }

.mdc-select:focus {
  border-bottom-color: #000000; }

.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__inner-circle {
  background: #000000; }

.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__outer-circle {
  border-color: #000000; }

.mdc-checkbox__native-control:checked ~ .mdc-checkbox__background {
  border-color: #000000;
  background: #000000; }

@media screen and (max-width: 767px) {
  .ss-Container {
    padding: 8px;
    margin: 0 auto 16px auto; }

  .ss-BlockContainer {
    text-align: center; } }

/*# sourceMappingURL=app.css.map */
